# CE302 Advanced Programming Techniques for Engineers

## Week 06

---

Dr. Ahmet Anıl Dindar (adindar@gtu.edu.tr) | TA Fırat Bezir (fbezir@gtu.edu.tr)

---

## FILE I/O & DATA

- File types

- File Write and Read

- Future?


---

File Input - Simple

In [28]:
f = open("week06.txt")

dataList = f.readlines()

data_0 , data_1 = [], []

for satir in dataList:
    
    dataSatir = [ int(item) for item in satir.split(",")]
    data_0.append( dataSatir[0])
    data_1.append( dataSatir[1])

In [29]:
data_0

[1, 2, 3, 4, 5]

In [30]:
data_1

[2, 4, 6, 9, 15]

What about ???

In [25]:
import pandas as pd

In [41]:
data_df = pd.read_csv("week06.txt" , header = None  )

In [42]:
data_df

   0   1    2
0  1   2  4.0
1  2   4  NaN
2  3   6  NaN
3  4   9  NaN
4  5  15  NaN

In [ ]:
data_df.to

In [10]:
dataList

['1,2\n', '2,4\n', '3,6\n', '4,9\n', '5,15']

In [11]:
dataList[0]

'1,2\n'

In [13]:
type( dataList[0])

str

File Ouput no pandas

In [44]:
data_0  , data_1

([1, 2, 3, 4, 5], [2, 4, 6, 9, 15])

In [109]:
ff = open( "./CodeOutput/week06.out" ,"w")

for  a , b in zip( data_0 , data_1):
    print( f"Buna göre ilk rakam {a} ve ikinci rakam {b}")

    ff.write( f"Buna göre ilk rakam {a} ve ikinci rakam {b}\n" )

    
ff.close()

Buna göre ilk rakam 1 ve ikinci rakam 2
Buna göre ilk rakam 2 ve ikinci rakam 4
Buna göre ilk rakam 3 ve ikinci rakam 6
Buna göre ilk rakam 4 ve ikinci rakam 9
Buna göre ilk rakam 5 ve ikinci rakam 15

In [56]:
data_df

   0   1    2
0  1   2  4.0
1  2   4  NaN
2  3   6  NaN
3  4   9  NaN
4  5  15  NaN

In [64]:
data_df.to_csv( "week06-DF.out" , index= None , header = None ,  sep = "-" , )

In [62]:
data_df

   0   1    2
0  1   2  4.0
1  2   4  NaN
2  3   6  NaN
3  4   9  NaN
4  5  15  NaN

In [66]:
data_df.iloc[:2]

   0  1    2
0  1  2  4.0
1  2  4  NaN

binary file

In [67]:
import pickle

In [68]:
data_0

[1, 2, 3, 4, 5]

In [81]:
pickle.dump( [data_0] , open("week06-pickle.pkl" ,"wb")  )

In [86]:
input_file = open("week06-pickle.pkl" , "rb")

In [87]:
a = pickle.load( input_file , encoding="utf-8"  )

In [88]:
a

[[1, 2, 3, 4, 5]]

In [89]:
type(a)

list

In [92]:
import json

In [108]:
univ_json = json.load( open( "./CodeInput/rows.json", "r" ) )

In [96]:
type( univ_json )

dict

In [98]:
univ_json.keys()

dict_keys(['meta', 'data'])

In [99]:
univ_json["meta"].keys()

dict_keys(['view'])

In [100]:
univ_json["meta"]["view"].keys()

dict_keys(['id', 'name', 'assetType', 'averageRating', 'createdAt', 'displayType', 'downloadCount', 'hideFromCatalog', 'hideFromDataJson', 'indexUpdatedAt', 'newBackend', 'numberOfComments', 'oid', 'provenance', 'publicationAppendEnabled', 'publicationGroup', 'publicationStage', 'tableId', 'totalTimesRated', 'viewCount', 'viewLastModified', 'viewType', 'approvals', 'childViews', 'columns', 'grants', 'metadata', 'owner', 'query', 'rights', 'tableAuthor', 'flags'])

In [101]:
univ_json["meta"]["view"]["name"]

'COLLEGE_UNIVERSITY'

In [104]:
len( univ_json["data"] )

77

In [105]:
univ_json["data"][0]

['row-t39z.h9at-i539',
 '00000000-0000-0000-73A0-165D70267CF5',
 0,
 1450729236,
 None,
 1450729236,
 None,
 '{ }',
 'POINT (-73.99465215457163 40.73519616365903)',
 'New School University / Parsons School Of Design',
 '66',
 'FIFTH AVENUE',
 'New York',
 '10011',
 'http://www.parsons.edu/html/splash.html',
 '1009619',
 '1005760042']